<p>
<img src="http://www.superdevs.com/images/logo.png">
</p>
<p>
Hi, <%= @user.full_name %><br>
</p>
<p>
The superdevs gathering <b style="color: rgb(51, 102, 255);"><%= @event.title %></b> will take place <%= @event.date.strftime("%A, %d %B %Y") %>! 
</p>
<p>
You showed us your interest for <b style="color: rgb(51, 102, 255);"><%= @event.title %></b> a while ago, and it's just one week to go!
</p>
<p>
Ask your butler to prepare your costume, take your ideas and bring them with you for the event!
</p>
<p>
You can get more information, discuss, share your thoughts about the gathering <%= link_to 'here on superdevs!',event_url(@event) %>
<br>
</p>
<p>
If you don't want to receive this notification please <%= link_to 'contact us', contact_us_url %>
</p>

