- current_tab("code_snippets")
.left_column
  - @code_snippets.each do |code_snippet|
    %div.rounded_content
      %h3= code_snippet.title
      .author
        .profile_picture_small
          != code_snippet.author.small_profile_picture.to_html
        %h5= link_to code_snippet.author.full_name, user_url(1)
        %span.when= distance_of_time_in_words(code_snippet.created_at, Time.now.utc) + ' ago'
      %pre{:class => "brush: #{code_snippet.language}"}= code_snippet.code
      %p= code_snippet.description
.right_column
  = link_to '+ Add a Code snippet', new_post_url, :class => 'super_button'
:javascript
  SyntaxHighlighter.all()

