- title("#{@group.name} at SuperDevs")
- current_tab("groups")
.in
  %h2= @group.name
.line
.in.forms
  = form_for @group do |f|
    %p
      = f.label :description, "Group's description in Markdown format"
      = f.text_area :description
    %p= f.submit "Update"

