#contacts
  %ul#online_presence
    - if not @user.twitter_username.to_s.empty?
      %li
        %a{:target=>"_blank", :href=>"http://www.twitter.com/#{@user.twitter_username}"}
          %img{:title=>"Twitter Account", :alt=>"Twitter Account",:src=>"/images/twitter.png"}
    - if not @user.linkedin_profile.to_s.empty?
      %li
        %a{:target=>"_blank", :href=> @user.linkedin_profile}
          %img{:title=>"Linkedin Account", :alt=>"Linkedin Account", :src=>"/images/linkedin.png"}
    - if not @user.delicious_username.to_s.empty?
      %li
        %a{:target=>"_blank", :href=>"http://www.delicious.com/#{@user.delicious_username}"}
          %img{:style=>"width:16px;", :title=>"Delicious Account", :alt=>"Delicious Account", :src=>"/images/delicious.png"}
    - if not @user.github_account.to_s.empty?
      %li
        %a{:target=>"_blank", :href=>"http://www.github.com/#{@user.github_account}"}
          %img{:style=>"width:16px;", :title=>"Github Account", :alt=>"Github Account", :src=>"/images/github.gif"}
    - if not @user.bitbucket_account.to_s.empty?
      %li
        %a{:target=>"_blank", :href=>"http://www.bitbucket.org/#{@user.bitbucket_account}"}
          %img{:style=>"width:16px;", :title=>"Bitbucket Account", :alt=>"Bitbucket Account", :src=>"/images/bitbucket.gif"}
  %ul
    - if not @user.website.to_s.empty?
      %li
        website:
        = link_to @user.website, @user.website
    - if not @user.phone_number.to_s.empty?
      %li
        phone:
        = @user.phone_number
  - if not @user.interests.to_s.empty?
    %ul#interests
      %h5 Interests
      - @user.interests.split(",").each do |interest|
        %li.highlighter= interest.strip
  - unless current_user and current_user.following?(@user)
    = form_for(@user, :url => follow_user_url(@user)) do |user|
      %p
        %input{:type=>"submit", :value=>"Follow", :title=>"Follow #{@user.full_name} updates"}
%div{:style=>"clear:both"}