#profile
  #profile_picture
    != @user.profile_picture.to_html

  .main_info
    %h2= @user.full_name

    %h3{:class => hide_tagline_class}= @user.tagline

    %p
      I work for:
      %span{:class => "company highlighter #{hide_company_class}"}= @user.company

    %p
      I'm based in:
      %span{:class => "city highlighter #{hide_city_class}"}= @user.city
      - if user_can_edit
        %span{:class => 'country'}= country_select :user, :country, [], :include_blank => true
      - else
        %span{:class => 'country highlighter'}= @user.country
