<div class="in forms">
  <h2>Edit mandatory details</h2>
  <%= form_for(current_user, :url => complete_registration_url) do |f| %>
      <%= f.error_messages %>
      <p>
        <label for="username">YOUR UNIQUE USERNAME (e.g. kentb)</label><br/>
        <%= f.text_field :username %>
      </p>

      <p>
        <label for="full_name">YOUR FULL NAME (e.g. John Brown)</label><br/>
        <%= f.text_field :full_name %>
      </p>

      <p>
        <label for="email">EMAIL (e.g. kentbeck@gmail.com)</label><br/>
        <%= f.text_field :email %>
      </p>

      <p>
        In order to proceed you need to agree to our <%= link_to "Terms and Conditions", terms_and_conditions_url, :target => '_blank' %>
        and <%= link_to "Privacy Policy", privacy_policy_url, :target => '_blank' %><br/>
        <%= f.check_box :agreed_tc_and_pp %><label for="agreed_tc_and_pp">I agree</label>
      </p>

      <p>
        <%= f.submit "Request invite" %>
      </p>
  <% end %>
</div>
