.in
  %h2 Edit your public profile

.line

.in.forms
  = form_for(@user) do |f|
    = f.error_messages
    %h3.highlighter Personal information

    %p
      %label{:for=>"full_name"}
        YOUR NAME (e.g. Martin Fowler)
        %br
        = f.text_field :full_name

    %p
      %label{:for=>"tagline"}
        YOUR TAGLINE (e.g. Web evangelist)
        %br
        = f.text_field :tagline

    %p
      %label{:for=>"bio"}
        ABOUT YOU (Few words on your career, interests and passions)
        %br
        = f.text_area :bio, :rows => 5, :cols => 30

    #select_gravatar
      != @user.small_profile_picture.to_html
      %p
        Change your avatar at
        = link_to 'gravatar.com', "http://www.gravatar.com", :target=>"_blank"
        %br
        We're using
        = @user.email

    %p
      %label{:for=>"country"}
        COUNTRY
        %br
        = country_select :user, :country, [], :include_blank => true

    %p
      %label{:for=>"location"}
        CITY (e.g. San Francisco)
        %br
        = f.text_field :city

    %p
      %label{:for=>"phone_number"}
        PHONE NUMBER (e.g. +44 7757 809234)
        %br
        = f.text_field :phone_number

    %h3.highlighter Work and Interests

    %p
      %label{:for=>"company"}
        CURRENT COMPANY (e.g. ThoughtWorks)
        %br
        = f.text_field :company

    %p
      %label{:for=>"job_title"}
        JOB TITLE (e.g. Ruby Developer)
        %br
        = f.text_field :job_title

    %p
      %label{:for=>"interests"}
        INTERESTS (e.g. C#, Ruby, TDD, Agile)
        %br
        = f.text_field :interests

    %h3.highlighter Online presence

    %p
      %label{:for=>"website"}
        YOUR WEBSITE (e.g. http://www.martinfowler.com)
        %br
        = f.text_field :website

    %p
      %label{:for=>"blog_feed"}
        BLOG FEED RSS, ATOM, etc. (e.g. http://www.davidsantoro.net/?feed=rss2)
        %br
        = f.text_field :blog_feed

    %p
      %label{:for=>"twitter_username"}
        TWITTER USERNAME (e.g. soulnafein)
        %br
        = f.text_field :twitter_username

    %p
      %label{:for=>"linkedin_profile"}
        LINKEDIN PROFILE (e.g. http://uk.linkedin.com/in/davidsantoro)
        %br
        = f.text_field :linkedin_profile

    %p
      %label{:for=>"delicious_username"}
        DELICIOUS USERNAME (e.g. soulnafein)
        %br
        = f.text_field :delicious_username

    %p
      %label{:for=>"github_account"}
        GITHUB USERNAME (e.g. soulnafein)
        %br
        = f.text_field :github_account

    %p
      %label{:for=>"bitbucket_account"}
        BITBUCKET USERNAME (e.g. soulnafein)
        %br
        = f.text_field :bitbucket_account

    %p
      %label{:for=>"email"}
        EMAIL (e.g. soulnafein@superdevs.com)
        %br
        = f.text_field :email

    %p
      = f.submit "Update Profile"
