<!-- Intro -->

<div class="in">
  <h2>Edit your public profile</h2>
</div>

<div class="line"></div>

<!-- Personal Information -->
<div class="in forms">
  <%= form_for(@user) do |f| %>
    <%= f.error_messages %>
    <h3 class="highlighter">Personal information</h3>

    <p>
      <label for="full_name">YOUR NAME (e.g. Martin Fowler)<br/>
        <%= f.text_field :full_name %>
      </label>
    </p>

    <p>
      <label for="tagline">YOUR TAGLINE (e.g. Web evangelist)<br/>
        <%= f.text_field :tagline %>
      </label>
    </p>

    <p>
      <label for="bio">ABOUT YOU (Few words on your career, interests and passions)<br/>
        <%= f.text_area :bio, :rows => 5, :cols => 30 %>
      </label>
    </p>

    <div id="select_gravatar">
      <%= raw(@user.small_profile_picture.to_html) %>
      <p>
        Change your avatar at <a href="http://www.gravatar.com" target="_blank">gravatar.com</a><br />
        We're using <%= @user.email %>
      </p>
    </div>

    <p>
      <label for="country">COUNTRY<br/>
        <%= country_select :user, :country, [], :include_blank => true %>
      </label>
    </p>

    <p>
      <label for="location">CITY (e.g. San Francisco)<br/>
        <%= f.text_field :city %>
      </label>
    </p>

    <p>
      <label for="phone_number">PHONE NUMBER (e.g. +44 7757 809234)<br/>
        <%= f.text_field :phone_number %>
      </label>
    </p>

    <h3 class="highlighter">Work and Interests</h3>

    <p>
      <label for="company">CURRENT COMPANY (e.g. ThoughtWorks)<br/>
        <%= f.text_field :company %>
      </label>
    </p>

    <p>
      <label for="job_title">JOB TITLE (e.g. Ruby Developer)<br/>
        <%= f.text_field :job_title %>
      </label>
    </p>

    <p>
      <label for="interests">INTERESTS (e.g. C#, Ruby, TDD, Agile)<br/>
        <%= f.text_field :interests %>
      </label>
    </p>

    <h3 class="highlighter">Online presence</h3>

    <p>
      <label for="website">YOUR WEBSITE (e.g. http://www.martinfowler.com)<br/>
        <%= f.text_field :website %>
      </label>
    </p>

    <p>
      <label for="blog_feed">BLOG FEED RSS, ATOM, etc. (e.g. http://www.davidsantoro.net/?feed=rss2) <br/>
        <%= f.text_field :blog_feed %>
      </label>
    </p>

    <p>
      <label for="twitter_username">TWITTER USERNAME (e.g. soulnafein)<br/>
        <%= f.text_field :twitter_username %>
      </label>
    </p>

    <p>
      <label for="linkedin_profile">LINKEDIN PROFILE (e.g. http://uk.linkedin.com/in/davidsantoro)<br/>
        <%= f.text_field :linkedin_profile %>
      </label>
    </p>

    <p>
      <label for="delicious_username">DELICIOUS USERNAME (e.g. soulnafein)<br/>
        <%= f.text_field :delicious_username %>
      </label>
    </p>

    <p>
      <label for="github_account">GITHUB USERNAME (e.g. soulnafein)<br/>
        <%= f.text_field :github_account %>
      </label>
    </p>

    <p>
      <label for="bitbucket_account">BITBUCKET USERNAME (e.g. soulnafein)<br/>
        <%= f.text_field :bitbucket_account %>
      </label>
    </p>

    <p>
      <label for="email">EMAIL (e.g. soulnafein@superdevs.com)<br/>
        <%= f.text_field :email %>
      </label>
    </p>

    <p>
      <%= f.submit "Update Profile" %>
    </p>
  <% end %>
</div>
