- current_tab("people")
#users_list
  %section
    %h2 All the SuperDevs
    %p
      Look at all the beautiful faces!
      %br
      You should start following other users that you know already or that have similar
      interests to yours.
      %br
      There is no search yet... so it might take a while.
      %br
      Why don't you browse this list when waiting for your code to build?


  %section
    = will_paginate @users
    %ul
      - @users.each do |user|
        %li{:class => cycle('even', 'odd')}
          .profile_picture_medium
            != user.medium_profile_picture.to_html
          %h3
            = user.full_name
            (
            %span><= link_to "#{user.username}", user_path(user.username)
            )
          %h4= user.tagline
          %div{:style=>"clear:both"}
    = will_paginate @users
