<script type="text/javascript" language="javascript">
  $(document).ready(function() {
    $("#tweets").twitter_feed("<%= @user.twitter_username %>");
    $("#blog").blog_feed("<%= @user.blog_feed %>");
  })
</script>
<div class="in">
  <div id="profile">
    <div id="profile_picture">
      <%= raw(@user.profile_picture.to_html) %>
    </div>
    <h2><%= @user.full_name %></h2>

    <h3><%= @user.tagline %></h3>
    <% if not @user.company.to_s.empty? %>
      <p>
        I work for: <span class="highlighter"><%= @user.company %></span>
      </p>
    <% end %>
    <% if not @user.location.to_s.empty? %>
      <p>
        I'm based in: <span class="highlighter"><%= @user.location %></span>
      </p>
    <% end %>
  </div>
  <div id="contacts">
    <ul id="online_presence">
      <% if not @user.twitter_username.to_s.empty? %>
        <li>
          <a href="http://www.twitter.com/<%= @user.twitter_username %>">
            <img src="/images/twitter.png"/>
          </a>
        </li>
      <% end %>
      <% if not @user.linkedin_profile.to_s.empty? %>
        <li>
          <a href="<%= @user.linkedin_profile %>">
            <img src="/images/linkedin.png"/>
          </a>
        </li>
      <% end %>
    </ul>
    <ul>
      <% if not @user.website.to_s.empty? %>
          <li>website: <%= link_to @user.website, @user.website %></li>
      <% end %>
      <% if not @user.phone_number.to_s.empty? %>
          <li>phone: <%= @user.phone_number %></li>
      <% end %>
    </ul>
    <% if not @user.interests.to_s.empty? %>
      <ul id="interests">
        <h5>Interests</h5>
        <% @user.interests.split(",").each do |interest| %>
          <li class="highlighter"><%= interest.strip %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div style="clear:both"></div>
</div>
<div class="line"></div>
<% if not @user.bio.to_s.empty? %>
  <div class="in" id="bio">
    <h4>Personal profile</h4>

    <p><%= @user.bio %></p>
  </div>
  <div class="line"></div>
<% end %>
<div class="in" style="margin-top:0;">
  <% if not @user.twitter_username.to_s.empty? %>
    <div id="tweets">
      <h4>Latest tweets</h4>
      <ul>
      </ul>
    </div>
  <% end %>
  <% if not @user.blog_feed.to_s.empty? %>
    <div id="blog">
      <h4>Blog entries</h4>
      <dl style="float:left;">
      </dl>
      <div style="clear:both"></div>
    </div>
  <% end %>
  <div style="clear:both"></div>
</div>

