- current_tab('people')
- title("#{@user.full_name} at SuperDevs")
:javascript
  $(document).ready(function() {
    var user = #{@user.to_json(:only => [:username, :full_name, :tagline, :country, :company, :city, :website, :phone_number, :bio, :interests])};
    var canEdit = #{user_can_edit};
    SuperDevs.ProfilePage.init(user, canEdit);
    $("#blog").blog_feed("#{@user.blog_feed}");
    $("#tweets").tweet({
      username: "#{@user.twitter_username}",
      join_text: "auto",
      avatar_size: 32,
      count: 5
    });
  })

%section
  = render :partial => 'profile'
  = render :partial => 'contacts'
%section
  = render :partial => 'bio'
%section#public_communication
  = render :partial => 'twitter_feed'
  = render :partial => 'blog_feed'
