- current_tab('people')
- title("#{@user.full_name} at SuperDevs")
:javascript
  $(document).ready(function() {
    $("#blog").blog_feed("#{@user.blog_feed}");
    $("#tweets").tweet({
      username: "#{@user.twitter_username}",
      join_text: "auto",
      avatar_size: 32,
      count: 5
    });
  })

.in
  = render :partial => 'profile'
  = render :partial => 'contacts'
.line
= render :partial => 'bio'
#public_communication.in
  = render :partial => 'twitter_feed'
  = render :partial => 'blog_feed'
  %div{:style=>"clear:both;"}
