%p#authentication_status
  - if current_user
    Logged in as
    %strong= current_user.username
    = link_to "Your profile", user_path(current_user.username)
    %span.v_line
      \|
    = link_to "Logout", logout_path
  - else
    = link_to "Register", login_path
    %span.v_line
      \|
    = link_to "Log in", login_path
