<p id="authentication_status">
  <% if current_user %>
      Logged in as <strong><%= current_user.username %></strong>
      <%= link_to "Edit profile", edit_user_path(current_user) %> <span class="v_line">|</span>
      <%= link_to "Logout", logout_path %>
  <% else %>
      <%= link_to "Register", register_path %> <span class="v_line">|</span>
      <%= link_to "Log in", login_path %>
  <% end %>
</p>