%p#authentication_status
  - if current_user
    Logged in as
    %strong= current_user.username
    = link_to "View profile", user_path(current_user.id), :method => :get
    %span.v_line
      \|
    = link_to "Edit profile", edit_user_path(current_user.id)
    %span.v_line
      \|
    = link_to "Logout", logout_path
  - else
    = link_to "Register", register_path
    %span.v_line
      \|
    = link_to "Log in", login_path
