.events
  %dl
    - events.rows.each do |row|

      %dt{:style => print_unless(row.show_date?, 'visibility:hidden')}
        %span.month= Date::ABBR_MONTHNAMES[row.event.date.month]
        %span.day= row.event.date.day
      %dd{:class => cycle('even', 'odd')}
        %h3
          = link_to row.event.title, event_path(row.event.id)
        %h4 #{row.event.city.capitalize} (#{row.event.country})
        - if row.event.group
          %h5
            %span.group= row.event.group.name
        - if row.event.is_organizer?(current_user)
          = link_to "Attendees (#{row.event.attendees.size})", [row.event, :attendances], :class => 'attendees_list'
          = link_to "Edit event", edit_group_event_url(row.event.group.unique_name, row.event.id), :class => 'edit'
        - elsif !row.event.attendees.empty?
          %em{:class => 'attendees_count'}Attendees (#{row.event.attendees.size})
        - if events.show_admin_actions?
          = link_to "Disable event", deactivate_event_url(row.event.id), :class => 'delete'
        - unless row.attending_or_tracking_friends.empty?
          %div
            %p.friendsInfo
              = row.attending_or_tracking_friends_info
          - row.attending_or_tracking_friends.each do |u|
            %a{:href=>user_path(u.username), :title=> u.full_name}
              != u.small_profile_picture.to_html

