.events
  %dl{:style=>"float: left;"}
    - events.each do |event|
      %dt
        - if event.date.today?
          %br
          %span{:style => 'color:#f7941d;font-size:12px'}Today
        - else
          = event.date.day
          %br
          %strong= Date::ABBR_MONTHNAMES[event.date.month]
          = event.date.year
      %dd{:class => cycle('even', 'odd') + (event.date.today? ? ' today' : '') }
        %h4= link_to event.title, event_path(event.id)
        %h5 #{event.city.capitalize} (#{event.country})
        - if event.is_organizer?(current_user)
          = link_to "Attendees (#{event.attendees.size})", [event, :attendances], :class => 'attendees_list'
          = link_to "Edit event", edit_group_event_url(event.group.unique_name, event.id), :class => 'edit'
        - elsif !event.attendees.empty?
          %em{:class => 'attendees_count'}Attendees (#{event.attendees.size})
        - if event.attendees_followed_by(current_user).size > 0
          %div
            - attending_friends = event.attendees_followed_by(current_user).size;
            %p.friendsInfo
              = "#{pluralize(attending_friends, 'person')} you are following #{pluralize(attending_friends, 'is', 'are').gsub(/\d+/,'')} attending or tracking"
          - event.attendees_followed_by(current_user).each do |u|
            %a{:href=>user_path(u.username), :title=> u.full_name}
              != u.small_profile_picture.to_html

