.events
  %dl{:style=>"float: left;"}
    - events.rows.each do |row|

      %dt{:style => print_unless(row.show_date?, 'visibility:hidden')}
        - if row.event.date.today?
          %br
          %span{:style => 'color:#f7941d;font-size:12px'}Today
        - else
          = row.event.date.day
          %br
          %strong= Date::ABBR_MONTHNAMES[row.event.date.month]
          = row.event.date.year
      %dd{:class => cycle('even', 'odd') + (row.event.date.today? ? ' today' : '') }
        %h4= link_to row.event.title, event_path(row.event.id)
        %h5 #{row.event.city.capitalize} (#{row.event.country})
        - if row.event.is_organizer?(current_user)
          = link_to "Attendees (#{row.event.attendees.size})", [row.event, :attendances], :class => 'attendees_list'
          = link_to "Edit event", edit_group_event_url(row.event.group.unique_name, row.event.id), :class => 'edit'
        - elsif !row.event.attendees.empty?
          %em{:class => 'attendees_count'}Attendees (#{row.event.attendees.size})
        - if events.show_admin_actions?
          = link_to "Disable event", deactivate_event_url(row.event.id), :class => 'delete'
        - unless row.attending_or_tracking_friends.empty?
          %div
            %p.friendsInfo
              = row.attending_or_tracking_friends_info
          - row.attending_or_tracking_friends.each do |u|
            %a{:href=>user_path(u.username), :title=> u.full_name}
              != u.small_profile_picture.to_html

