- if current_user.nil?
  .loginBlock
    = link_to "Login or sign up", login_event_path(@event)
    to attend or track this event.
-else
  - if @event.has_attendee?(current_user)
    %p= link_to "Unattend this event", unattend_event_path(@event.id), :class => 'linkButtonAlt'
  - else
    %p= link_to "Attend this event", attend_event_path(@event.id), :class => 'linkButton'
  %p or
  - if @event.has_tracker?(current_user)
    %p= link_to "Stop tracking this event", untrack_event_path(@event.id)
  - else
    %p= link_to "Track this event", track_event_path(@event.id)
