.events
  %dl{:style=>"float: left;"}
    - events.each do |event|
      %dt
        = event.date.day
        %br
        %strong= Date::ABBR_MONTHNAMES[event.date.month]
        = event.date.year
      %dd{:class => cycle('even', 'odd')}
        %h4= link_to event.title, event_path(event.id)
        %h5 #{event.city.capitalize} (#{event.country})
