.in#event
  .leftColumn
    %h2= @event.title
    %h3= @event.date.strftime("%d %B %Y")
    %p.description= @event.description
    %strong.highlighter= @event.country + "/" + @event.city
    %p
      = link_to "website", @event.link
    %h3 Attendees (#{@event.attendees.size})
    %p
      - @event.attendees.each do |u|
        %a{:href=>user_path(u), :title=> u.full_name}
          .profile_picture_medium
            != u.medium_profile_picture.to_html

  .rightColumn
    - unless @event.has_attendee?(current_user)
      = form_for(Attendance.new) do |f|
        = f.submit 'Attend this event'
        = hidden_field_tag :event_id, @event.id
  .clear
