- title("#{@event.title} on the #{@event.date.strftime("%d %B %Y")} - SuperDevs")
- current_tab('events')
.in#event
  .leftColumn
    %h2= @event.title
    %h3
      - if @event.group
        Organised by #{link_to @event.group.name, group_url(@event.group.unique_name)}
    %h3.date= @event.date.strftime("%d %B %Y")
    %ul.details
      %li.location= @event.city + " (" + @event.country + ")"
      - unless @event.link.to_s.empty?
        %li.website
          = link_to @event.link, @event.link
      - if @event.is_organizer?(current_user)
        %p
          = link_to "Edit event", edit_group_event_url(@event.group.unique_name, @event.id), :class => 'edit'
    %p
    %div.description
      - if @event.group.nil?
        = @event.description
      - else
        :markdown
          @event.description

    .container
      - if !@event.attendees.empty?
        %h4  Attendees (#{@event.attendees.size})
        = render :partial => 'shared/block_of_users',
                 :locals => { :users => @event.attendees }
    .container
      - if !@event.trackers.empty?
        %h4 Trackers (#{@event.trackers.size})
        = render :partial => 'shared/block_of_users',
                 :locals => { :users => @event.trackers }
  .rightColumn
    = render :partial => 'events/attend_and_track'
  .clear
