- current_tab('events')
.in#event
  .leftColumn
    %h2= @event.title
    %h3= @event.date.strftime("%d %B %Y")
    %p.description= @event.description
    %strong.highlighter= @event.country + "/" + @event.city
    %p
      = link_to "website", @event.link
    %h3 
      Attendees (#{@event.attendees.size})
      - if @event.is_organizer?(current_user)
        [
        = link_to "show list", [@event, :attendances] 
        ]
    %p
      - @event.attendees.each do |u|
        %a{:href=>user_path(u.username), :title=> u.full_name}
          .profile_picture_medium
            != u.medium_profile_picture.to_html
  .rightColumn
    - if @event.has_attendee?(current_user)
      - attendance = @event.attendance_for_user(current_user)
      = form_tag(attendance_url(attendance.id), :method => :delete) do
        = submit_tag 'Unattend this event', :class => 'alternative'
        = hidden_field_tag :event_id, @event.id
    - else
      = form_for(Attendance.new) do |f|
        = f.submit 'Attend this event'
        = hidden_field_tag :event_id, @event.id
  .clear
