- title("#{@event.title} on the #{@event.date.strftime("%d %B %Y")} - SuperDevs")
- current_tab('events')
.in#event
  .leftColumn
    %h2
      = @event.title
    %h3= @event.date.strftime("%d %B %Y")
    %h4
      - if @event.group
        [#{link_to @event.group.name, group_url(@event.group.unique_name)}]
    %p.description
      - if @event.group.nil?
        = @event.description
      - else
        :markdown
          #{@event.description}
    %strong.highlighter= @event.country + "/" + @event.city
    - unless @event.link.to_s.empty?
      %p
        = link_to "website", @event.link
    %p
      - if @event.is_organizer?(current_user)
        = link_to "Edit event", edit_group_event_url(@event.group.unique_name, @event.id), :class => 'edit'
    %p
    .container
      - if !@event.attendees.empty?
        %h3  Attendees (#{@event.attendees.size})
        %p
          - @event.attendees.each do |u|
            %a{:href=>user_path(u.username), :title=> u.full_name}
              .profile_picture_medium
                != u.medium_profile_picture.to_html
    .container
      - if !@event.trackers.empty?
        %h3 Trackers (#{@event.trackers.size})
        %p
          - @event.trackers.each do |u|
            %a{:href=>user_path(u.username), :title=> u.full_name}
              .profile_picture_medium
                != u.medium_profile_picture.to_html
  .rightColumn
    - if current_user.nil?
      .loginBlock
        = link_to "Login or sign up", attend_event_path(@event) 
        to attend or track this event.
    -else
      - if @event.has_attendee?(current_user)
        %p= link_to "Unattend this event", unattend_event_path(@event.id), :class => 'linkButtonAlt'
      - else
        %p= link_to "Attend this event", attend_event_path(@event.id), :class => 'linkButton'
      %p or
      - if @event.has_tracker?(current_user)
        %p= link_to "Stop tracking this event", untrack_event_path(@event.id)
      - else
        %p= link_to "Track this event", track_event_path(@event.id)
  .clear
