<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
  <%= csrf_meta_tag %>
  <title><%= yield(:title) || "SuperDevs" %></title>
  <script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAHj3-AxzLoN6nByzD95Qs9RSOljxHAIcaB6bpmeLQ3ja_Urx1LhQUqo1n97ZB_-dbUmm8nc93jgOCBw"></script>
  <%= stylesheet_link_tag "application", "views/users/edit", "views/users/show", "views/users/index" %>
  <%= javascript_include_tag "lib/jquery-1.4.2.min", "lib/jquery.jgfeed-min", "lib/jquery.tweet.js",
                             "blog_feed.js" %>
  <%= render :partial => "shared/google_analytics" %>
</head>

<body>

<div id="wrapper">

  <h1 id="logo"><a href="/">SuperDevs</a></h1>

  <%= render :partial => "shared/authentication_status" %>

  <!-- Navigation -->

  <div id="navigation">
    <ul>
      <li><a href="<%= root_url %>">HOME</a></li>
      <li><a href="<%= users_path %>" class="active">PEOPLE</a></li>
    </ul>
  </div>

  <div class="clear"></div>


  <div id="content">
    <% if flash[:notice] %>
        <div class="in success">
          <%= flash[:notice] %>
        </div>
    <% end %>
    <%= yield %>
  </div>

  <%= render :partial => "shared/footer" %>

</div>
<%= render :partial => "shared/user_feedback" %>
</body>
</html>

