<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
  <%= csrf_meta_tag %>
  <title>SuperDevs</title>
  <%= stylesheet_link_tag :flutie, "application", "home", :cache => true  %>
  <%= render :partial => "shared/google_analytics" %>
</head>

<body>

<div id="home_wrapper">
  <div id="first_layer">
    <h1 id="logo"><a href="/">SuperDevs</a></h1>
    <%= render :partial => "shared/authentication_status" %>
  </div>

  <%= yield %>

  <div id="footer_layer">
  <%= render :partial => "shared/footer" %>
  </div>

</div>
<%= render :partial => "shared/user_feedback" %>
</body>
</html>

