!!!
%html
  %head
    %meta{'http-equiv'=>"Content-Type", :content=>"text/html; charset=ISO-8859-1"}
    = csrf_meta_tag
    %title SuperDevs
    = stylesheet_link_tag "http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css",
                          "base",
                          "forms",
                          "header",
                          "footer",
                          "home"
    = render :partial => "shared/google_analytics"

  %body
    #home_wrapper
      #first_layer
        %h1#logo
          = link_to 'SuperDevs', root_url
        = render :partial => "shared/authentication_status"

      = yield

      #footer_layer
        = render :partial => "shared/footer"
    = render :partial => "shared/user_feedback"


